<div class="card" style="width: 18rem; display: inline-block;">
    <img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202004/stocks1_660_130420091453.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{stockName + ": " + stockPrice}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Remove Stock</a>
    </div>
</div>